<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AddressBook SPA</title>
    <script src="addressBook.js"></script>
</head>
<body>
    <div>
        <script>
    </div>
    <div>
        <form class="addBuddy">
            <label>Name:
                <input type="text" name="name"><br>
            </label>
            <label>Phone Number:
                <input type="text" name="phoneNum"><br>
            </label>
            <input type="submit" value="Add"><br>
        </form>
    </div>

</body>
</html>