<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>AddressBook</title>
    <meta http-equiv="Content-Type" content="application/x-www-form-urlencoded; charset=UTF-8" />
</head>
<body>
    <label th:if="not ${validId}"> This Address Id not exist. </label>
    <a th:if="${validId}" th:href="@{'/addBuddy/'+${id}}">Add Buddy</a>
    <table th:if="${validId}" border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Address</th>
        </tr>
        <tr th:each="buddyInfo : ${addressbook.buddyList}">
            <td th:text="${buddyInfo.id}"></td>
            <td th:text="${buddyInfo.name}"></td>
            <td th:text="${buddyInfo.phoneNum}"></td>
            <td th:text="${buddyInfo.address}"></td>
        </tr>
    </table>
</body>
</html>