<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="/main" method="post">
        <label>
            <input type="submit" value="Create"><br>
        </label>
    </form>
</div>
<div>
    <p>AdddressBook List</p>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Link</th>
        </tr>
        <tr th:each="addr : ${addr_list}">
            <td th:text="${addr.id}"></td>
            <td>
                <a th:href="@{'/addressbook/'+${addr.id}}">Click to View</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>